<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login12</servlet-name>
        <servlet-class>login12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup12</servlet-name>
        <servlet-class>signup12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElectronicsImageServlet</servlet-name>
        <servlet-class>ElectronicsImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sidenavbar11</servlet-name>
        <servlet-class>Sidenavbar11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoCart</servlet-name>
        <servlet-class>DoCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalPayment</servlet-name>
        <servlet-class>FinalPayment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login12</servlet-name>
        <url-pattern>/login12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup12</servlet-name>
        <url-pattern>/signup12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElectronicsImageServlet</servlet-name>
        <url-pattern>/ElectronicsImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sidenavbar11</servlet-name>
        <url-pattern>/Sidenavbar11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoCart</servlet-name>
        <url-pattern>/DoCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalPayment</servlet-name>
        <url-pattern>/FinalPayment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
